<!--Top nav start-->

		<nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">Shopping Cart Site</div>
                </div>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="array-one" style="font-size: 17px;">Shopping-List</a></li>
             </ul>   
        </div>

        </nav>

<!--top nav end-->
<router-outlet></router-outlet>